.feynman__link{
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.3s linear;
}

.feynman__link:hover{
  opacity: 0.5;
}
