@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}


.rotation{
  animation: rotation 20s infinite linear;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
	  /* выше установили ограничения для секции */
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header{

position: absolute;
background-image: url(../images/logo_place_header.svg);
top: 30px;
left: 64px;
z-index: 2;
}

.header__title{
  display: flex;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  align-items: center;
  font-weight: bold;
  z-index: 2;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
}

  .two-columns{
    width: 80%;
    display: flex;
    margin: 100px auto 0;
    justify-content: space-between;
  }

  .two-columns__brief{
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
    color: #2f80ed;
    font-weight: normal;
  }

  .two-columns__main-text{
    width: 80%;
    min-width: 784px;
  }

  .two-columns__paragraph{
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
  }

 .two-columns__paragraph:last-child{
  margin-bottom: 0;
  }

  .two-columns__span-accent{
    font-weight: bold;
  }

  .section-title{
    font-size: 60px;
    line-height: 1.15;
    display: flex;
    width: 60%;
    margin: 100px auto 20px;
    justify-content: center;
  }


  .section-subtitle{
    font-size: 24px;
    line-height: 34px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;

  }

  .techniques{
    width: 80%;
    margin: 0 auto;
  }

  .cards{
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .cards__item{
    width: 240px;
    margin-right: 100px;
  }

  .cards__item:nth-of-type(3){
    margin-right: 0;
  }

  .cards__image{
    width: 160px;
    height: 160px;
    margin: 60px 40px 43px;
    border-radius: 80px;
  }

  .cards__title{
    margin: 0 0 16px;
    font-size: 24px;
    line-height: 1.15;
    text-align: center;
  }

  .cards__description{
    margin: auto;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
  }

  .video__iframes{
    display: flex;
    margin:  50px auto  -60px auto;
    justify-content: center;
    position: relative;
    z-index: 1;
  }

  .video__iframe:first-of-type{
    margin: 0 20px 0 0;
  }

  .oakley{
    background-color:  #f2f2f2;
    padding-top: 60px;

  }

.feynman{
  position: relative;
  min-height: 790px;
  background: url(../images/feynman.png) bottom left no-repeat #f2f2f2;
  background-size: 867px 637px;
}

.feynman__title{
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 648px;
  display: flex;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}

.feynman__subtitle{
  font-size: 36px;
  line-height: 51px;
  margin: 70px auto auto;
  text-align: center;
}

.feynman__link{
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000000;
  transition: opacity 0.3s linear;
}

.feynman__link:hover{
  opacity: 0.5;
}


  .table{
    width: 1100px;
    margin: 0 auto 100px;
    padding: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

  .table__cell{
    width: 250px;
    margin: 60px 0 0;
    flex-direction: column;
    display: flex;
}

  .table__heading{
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
    display: flex;
}

.table__text{
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  margin: 20px 0 0;

}

.khan {
  background-color: #F2F2F2;
}

.khan__container{
  width: 80%;
  margin: 0 auto;
  padding-top: 105px;
}


.khan__author{
  margin: 0;
  font-size: 30px;
  line-height: 42px;
}

.khan__title{
  margin: 0;
  font-size: 60px;
  line-height: 1.15;
}

.khan__quote{
  width: 790px;
  margin: 50px auto 36px 0;
  font-size: 24px;
  line-height: 34px;
}

.khan__quote-author{
  margin: 0;
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.khan__quote-author-subline{
  margin: 10px 0 68px;
  font-size: 24px;
  line-height: 1.15;
}

.khan__book-container{
  display: flex;
}

.khan__book-pic{
  height: 608px;
  width: 620px;
  background-image: url(../images/khan-book.jpg);
  background-position: 0 0;
  background-size: cover;
}

.khan__buy-link{
  align-self: flex-start;
  margin-left: 48px;
  font-size: 30px;
  line-height: 42px;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity 0.3s linear;
}

.khan__buy-link:hover {
  opacity: .5;
}



.kaufman{
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark{
  color: #FFFFFF;
  position: relative;
    z-index: 1;
}

.section-title_theme_dark:first-of-type{
  margin-top: 90px;
  }

.section-subtitle_theme_dark{
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.table_theme_dark:first-of-type{
  margin-bottom: 90px;
  }

.table__cell_theme_dark{
  width: 200px;
  margin: 80px 0 0;
  z-index: 1;
}



.table__heading_theme_dark{
  color: #FFFFFF;
}

.table__text_theme_dark{
  color: #FFFFFF;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
}

.resources__logo-zone{
  margin: 80px auto 217px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
}

.resources__logo{
  height: 38px;
  width: 270px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.3s linear;
}

.resources__logo:hover {
  opacity: .5;
}

.resources__logo_arzamas{
  background-image: url(../images/logo/resources-arzamas.svg);
}

.resources__logo_n1{
  background-image: url(../images/logo/resources-n1.svg);
}

.resources__logo_strelka{
  background-image: url(../images/logo/resources-strelka.svg);
}

.resources__logo_polka{
  background-image: url(../images/logo/resources-polka.svg);
}

.footer{
  display: flex;
  min-height: 350px;
  background-color:  #1f1f1f;
}

.footer__columns{
  display: flex;
  margin: 60px auto 40px;
  width: 90%;
  color: #FFFFFF;
  position: relative;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer{
  margin: 0 auto auto 0;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
}

.footer__author{
margin: 18px auto 18px 0;
line-height: 25px;
font-size: 18px;
}

.footer__column{
  display: flex;
}

.footer__column_content_info{
 display: flex;
  flex-direction: column;

  margin: 0 auto 0;
}

.footer__column-heading{
  margin:0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links{
  padding: 0px 0px 16px;
  margin: 0px;
}
.footer__list{
  display: block;
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
}


.footer__link{
text-decoration: none;
color: #FFFFFF;
transition: opacity 0.3s linear;
}

.footer__link:hover{
  opacity: 0.5;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}



.footer__social-icon{
margin:0px 10px 0 0;
width: 16px;
height: 16px;
}
