
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  display: flex;
	  /* выше установили ограничения для секции */
}

.logo{
  width: 183px;
  height: 32px;
}

.logo_place_header{

position: absolute;
background-image: url(../images/logo_place_header.svg);
top: 30px;
left: 64px;
z-index: 2;
}

.header__title{
  display: flex;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  margin-left: 64px;
  align-items: center;
  font-weight: bold;
}

.header__subtitle {
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  line-height: 25px;
  z-index: 2;
}

.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.header__link:hover {
  opacity: .5;
}

.header__main-illustration{
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color:  #2f80ed;
}

  .two-columns{
    width: 80%;
    display: flex;
    margin: 100px auto 0;
    justify-content: space-between;
  }

  .two-columns__brief{
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    margin: 0;
    color: #2f80ed;
    font-weight: normal;
  }

  .two-columns__main-text{
    width: 80%;
    min-width: 784px;
  }

  .two-columns__paragraph{
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 34px;
  }

 .two-columns__paragraph:last-child{
  margin-bottom: 0;
  }

  .two-columns__span-accent{
    font-weight: bold;
  }

  .section-title{
    font-size: 60px;
    line-height: 1.15;
    display: flex;
    width: 60%;
    margin: 100px auto 20px;
    justify-content: center;
  }


  .section-subtitle{
    font-size: 24px;
    line-height: 34px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
  }

  .table{
    width: 1100px;
    margin: 0 auto 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    display: flex;
}

  .table__cell{
    width: 250px;
    margin: 60px 0 0;
    flex-direction: column;
    display: flex;
}

  .table__heading{
    font-size: 24px;
    line-height: 1.15;
    font-weight: bold;
    margin: 0;
    width: 250px;
    display: flex;
}

.table__text{
  font-size: 18px;
  line-height: 1.2;
  display: flex;
  margin: 20px 0 0;
  width: 250px;

}

.feinman{
  position: relative;
  height: 790px;
  background: url(../images/feynman.png) bottom left no-repeat #f2f2f2;
  background-size: 867px 637px;
}

.feinman__title{
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;
  width: 648px;
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

.feinman__subtitle{
  font-size: 36px;
  line-height: 51px;
  margin: 70px auto auto;
  text-align: center;
}

.feinman__link{
  font-size: 36px;
  line-height: 51px;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #000000;
}

.feinman__link:hover{
  opacity: 0.5;
}

.kaufman{
  background-color:  #1f1f1f;
  position: relative;
  overflow: hidden;
  color:white;
}

.section-title_theme_dark{
  line-height: 69px;
  margin: 90px auto 20px;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark{
  margin: 0 auto;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.table_theme_dark{
  width: 1100px;
  margin: 0 auto 90px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

}

.table__cell_theme_dark{
  width: 200px;
  margin: 80px 0 0;
  z-index: 1;
}

.table__heading_theme_dark{
 margin: 0;
 width: 200px;
}

.table__text_theme_dark{
margin: 20px 0 auto;
width: 200px;
}

.kaufman__triangle{
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0px;
  right: -210px;
  z-index: 0;
}

.footer{
  display: flex;
  min-height: 350px;
  background-color:  #1f1f1f;
}

.footer__columns{
  display: flex;
  margin: 60px auto 40px;
  width: 90%;
  color: white;
  position: relative;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
}

.logo_place_footer{
  margin: 0 auto auto 0;
  width: 183px;
  height: 35px;
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
}

.footer__author{
margin: 18px auto 18px 0;
line-height: 25px;
font-size: 18px;
}

.footer__navigation{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.footer__column_content_info{
 display: flex;
  flex-direction: column;
  top: 0px;
  right: 0;
  bottom: 0;
  margin: 0 auto 0;
}

.footer__column-heading{
  margin:0 0 20px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.footer__column-links{
  padding: 0px 0px 16px;
  margin: 0px;
}
.footer__list{
  display: block;
  font-size: 18px;
  line-height: 30px;
  list-style-type: none;
}


.footer__link{
text-decoration: none;
color: white;
}

.footer__link:hover{
  opacity: 0.5;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}



.footer__social-icon{
margin:0px 10px 0 0;
width: 16px;
height: 16px;
}
